@model IEnumerable<MyFi.Models.TipoIngreso>

@{
    ViewData["Title"] = "Index";
}

<h1>TipoIngresos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdIngresoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.IdIngresoNavigation.Id_Ingresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoNavigation.IdTexto)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.IdIngreso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdIngreso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
